<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		    <strong>Contact:</strong><br />

                    <!-- Address -->
                    <a href="https://maps.app.goo.gl/2tU19ViwtJWLA4Nv8">
                        <i class="bi-geo-alt-fill"></i> Chafee Hall Room 413<br />
                        <i class="bi-none"></i> 142 Flagg Road<br />
		        <i class="bi-none"></i> Kingston, RI 02881-2015
                    </a><br />

                    <!-- Phone -->
                    <a href="tel:+14018745172">
                        <i class="bi-telephone-fill"></i> +1 401 874 5172
                    </a><br />

                    <!-- Email -->
                    <script src="{{ site.url }}{{ site.baseurl }}/js/email.js"></script>
                </div>
                <div class="col-sm-4">
                    <strong>Affiliations:</strong><br />

                    <a href="https://web.uri.edu/psychology/">
                        <i class="fa-solid fa-building-columns"></i> Department of Psychology<br />
                        <i class="bi-none"></i> University of Rhode Island
                    </a>
                </div>
                <div class="col-sm-4">
                    <strong>Social Media:</strong><br />

                    <!-- Google Scholar -->
                    <a href="https://scholar.google.nl/citations?user=Q3glDmMAAAAJ&hl">
                        <i class="fa-brands fa-google-scholar"></i> Google Scholar
                    </a><br />

                    <!-- GitHub -->
                    <a href="https://github.com/cjurban/">
                        <i class="bi-github"></i> GitHub
                    </a><br />

                    <!-- LinkedIn -->
                    <a href="https://www.linkedin.com/in/chrjurban/">
                        <i class="bi-linkedin"></i> LinkedIn
                    </a>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
